html,body{
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(227, 255, 246);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}